@media(max-width:768px){

    .netflix-padding-left{
        padding-left: 10px !important;
    }

    .netflix-padding-right{
        padding-right: 10px !important;
    }

    .navbar-brand img{
        width: 80px;
        margin-left: 40px;
    }

    .navbar{
       padding-top: unset !important;
       padding-bottom: unset !important;
    }

    i{
       font-size: 12px;
       cursor: pointer;
       padding: 5px !important;
    }

    .netflix-profile{
       margin-left: 5px ;
    }

    .netflix-dropdown-box{
        display: block;
    }

    .netflix-dropdown{
        font-size: 8px;
    }

    .netflix-nav{
        display: none !important;
    }

    .slider-box{
        height: 20vh !important;
    }

    .card-body{
        width: 80px !important;
        top: 60px !important;
    }

    .card-icon{
        font-size: 8px !important;
    }

    .netflix-card-text{
        font-size: 5px !important;
    }

    .h4{
        font-size: 10px !important;
    }

    .tv-shows{
        font-size: 18px !important;
    }

    .dropbtn{
        font-size: 10px;
        padding: 4px 10px;
    }

    .dropbtn-content{
        font-size: 8px;
    }
}

@media(max-width:1199px){
    
    .slider-box{
        height: 40vh !important;
    }

    .card-body{
        width: 120px !important;
        top: 100px;
    }

    .card-icon{
        font-size: 12px !important;
    }

    .netflix-card-text{
        font-size: 7px;
    }

    .h4{
        font-size: 14px;
    }

    .tv-shows{
        font-size: 28px;
    }

}

@media(max-width:795px){

    .netflix-nav button{
        font-size: 11px;
    }

}

@media(max-width:1000px){

    .card-body{
        top: 80px;
    }
}

@media(max-width:1100px){

    .card-body{
        top: 90px;
    }
}

@media(max-width:900px){

    .card-body{
        top: 70px;
    }
}

