@media(max-width:768px){

    .netflix-logo{
        margin-top: 10px;
        text-align: center;   
    }
    
    .netflix img{
        width: 120px !important;
        height: 45px !important;
    }

    .username input[type="text"] {
        width: 200px;
        height: 25px;
        font-size: 14px;
    }

    .select-language select {
        width: 80px;
        padding: 4px;
        font-size: 10px;
        border: none;
    }

    .select-language label {
        font-size: 14px;
        margin-top: 5px;
    }
    
    .separator{
        margin-top: 1px;
    }

}