body{
    background-color: #141414;
    overflow-x: hidden;
    width: 100vw;
}

main{
    color: white;
}


/* NETFLIX LOGO */

.netflix-logo{
    margin-top: 10px
}

.netflix{
    margin-left: 10px;
}

.netflix img{
    width: 140px;
    height: 60px;
}

/* EDIT PROFILE */

.main-container{
    width: 60%;
    margin: 0 auto;
}

.settings-title{
    text-align: start;
    margin-top: 80px;
    position: relative;
    margin-bottom: 30px;
}

.settings-title h3{
    font-size: 50px;
}

/* IMMAGINE, CAMPO TESTUALE E SCELTA LINGUA */

.img-profile {
    display: flex;
    align-content: center;
}

.immagine {
    position: relative;
    flex: 0 0 auto; 
}

.immagine img {
    width: 100%; 
    border-radius: 5px;
    height: 120px;
    display: block;
}

.icona-bi-pencil {
    position: absolute;
    top: 15%; 
    right: 75%; 
    font-size: 14px; 
    color: rgb(255, 255, 255);
    z-index: 1;
}

.username {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

input[type="text"] {
    width: 250px;
    height: 30px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.367);
    color: white;
    padding: 16px;
    border: none;
}

input[type="text"]::placeholder {
    color: white;
}

.select-language {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
}

select {
    width: 110px;
    padding: 1px;
    font-size: 14px;
    color: white;
    border: 1px solid white;
    background-color: black;
    margin-top: 5px;
}

.user-details {
    flex-direction: column;
    position: relative;
}

/* MATURITY SDETTINGS */

.maturity-settings {
    margin-top: 20px;
    margin-left: 30px;
}

.maturity-settings h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.maturity-settings h5 {
    font-size: 14px;
}

.maturity-btn {
    background-color: rgba(255, 255, 255, 0.089);
    color: white;
    border: none;
    padding: 5px 15px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 3px;
    margin-left: -0.5px;
    font-weight: bold;
    font-size: 14px;
}

.edit-btn {
    background-color: #141414;
    color: rgba(255, 255, 255, 0.367);
    border: 1px solid rgba(255, 255, 255, 0.367);
    padding: 3px 25px;
    margin-top: 10px;
}

/* AUTOPLAY CONTROLS */

.additional-text {
    text-align: start;
    margin-top: 20px;
    margin-left: 30px;
}

.additional-text h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.additional-text .autoplay-controls {
    display: flex;
    align-items: center;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.checkbox-btn {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.367);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px; 
    margin: 5px 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}

.checkbox-btn i {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.367);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1; 
}

.additional-text h5 {
    font-size: 12px;
    margin: 0;
    margin-left: 10px;
}





