.navbar-nav {
    display: flex; 
    align-items: center;
}

.custom-dropdown {
    box-shadow: 0 0.2rem 0.5rem rgba(255, 255, 255, 0.062); 
    color: white; 
    border: none; 
}

.custom-dropdown .dropdown-item {
    color: white; 
}

.custom-dropdown .dropdown-item:hover {
    background-color: #343a40; 
}

.tv-shows {
    font-size: 3.2em;
    color: white;
    display: inline;
}


/* CAROSELLO */


.slider1{
    position: absolute;
    top: 250px;
    z-index: 500;
}

.card {
    width: 250px;   
    border-radius: 4px;
    transition: 0.2s linear;
    margin: 3px;
    position: relative;
}

.card:hover {
     transform: scale(1.4);
     z-index: 10;
}   

.card-icon {
    color: white;
    padding: 0px !important;
    font-size: 28px;
    border-radius: 50%;
    cursor: pointer;
    border-color: rgb(33, 37, 41);
}

.carousel-inner{
    position: relative;
    overflow: visible;
}

.netflix-card-text{
    font-size: 12px;
}

.card-body {
    display: none;
    padding: 10px 15px;
    position: absolute;
    background-color: rgb(33, 37, 41);
    top: 120px;
    width: 100%;
}

.card:hover > .card-body{
    display: block;
}