/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#testoAlternato {
    font-family: 'Bree Serif', serif;
    text-align: left;
    border: 2px solid #000;
    padding: 20px;
    width: 500px;
    position: relative;
}

.parole i {
    color: #00a1e1;
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;
    position: relative;
}

.parole .first {
    opacity: 0;
    transition: opacity 1s;
}

.first:hover {
    opacity: 1;
    
}

.parole i:hover {
    opacity: 0;
    transform: translateY(50%);
}