@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');


/*HEADER*/

header {
    background-color: black;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
}

.logo img {
    width: 40%;
    height: auto;
}

/*MAIN*/

/*PRIMA SEZIONE*/

.prima-sezione {
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    height: 40vh;
}

.contenuto-prima-sezione{
    padding: 10px 20px;
}

.prima-sezione h1{
    font-size: 40px;
    color: #25a2c3 ;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.prima-sezione p{
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    line-height: 2;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
}

.prima-sezione a{
    display: inline-block;
    background-color: #e22d0e;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

/*SECONDA SEZIONE*/

.seconda-sezione{
    background-color:white;
    padding: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.seconda-sezione h2{
    color: #25a2c3 ;
    padding-bottom: 30px;
    padding-top: 30px;
    font-weight: bold;

}

.immagine-circolare{
    flex: 1;
    text-align: center;
    margin-top: 20px;
}

.immagine-circolare img{
    max-width: 100%;
    border-radius: 50%;
}

/*TERZA SEZIONE*/

.terza-sezione{
    background-color: #e22d0e;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.testo-bianco{
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 2em;
}

.testo-bianco-corsivo{
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.5;
    font-style: italic;
}

.nome-autore{
    padding-bottom: 10px;
    font-size: larger;
}

.posizione{
    font-size: smaller;
}

/*ASIDE*/

aside{
    text-align: center;
    background-color: white;
}
  
.titolo-celeste{
    color: #25a2c3 ;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    padding: 20px;
    font-size: bold;
}

aside p{
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 1.8;
}

aside .articolo1{
    border: 1.5px solid #dee1e3;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
}

aside .articolo2{
    border: 1.5px solid #dee1e3;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
}

aside .articolo3{
    border: 1.5px solid #dee1e3;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
}

/*FOOTER*/

footer{
    background-color: #25a2c3;
    padding-top: 200px;
    text-align: center;
    color: white;
    font-family:'Open Sans', sans-serif ;
}

footer h2{
    padding-top: 30px;
    font-size: 2em;
}

footer p{
    line-height: 1.5;
}

footer .telefono{
    text-decoration: underline;
}

footer .email{
    text-decoration: underline;
}

footer .copyright{
    font-weight: lighter;
    padding-top: 30px;
    padding-bottom: 40px;
}

hr{
    max-width: 150px;
    margin-top: 30px;
    width: 20%;
}